<div class="card mt-4">
  <h4 class="card-header">Информация о заказе</h4>
  <div class="card-body">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <div *ngIf="order">
<!--      Адрес прачечной: {{laundry.address}} <br>-->
      Название заказа: {{order.title}} <br>
      Статус заказа: {{order.status}} <br>
      Стоимость заказа: {{order.price}} <br>
      <p *ngFor="let service of order.services">{{service.name}}</p>
    </div>
    <div *ngIf="!loadingProfile">
      <button type="button" class="btn btn-primary" *ngIf="user.role=='client'" (click)="cancelOrder()">Отменить заказ</button>
      <button type="button" class="btn btn-primary" *ngIf="user.role=='client'" (click)="passOrder()">Закрыть заказ</button>
      <button type="button" class="btn btn-primary" *ngIf="user.role=='manager'" (click)="progressOrder()">Активировать работу заказа</button>
      <button type="button" class="btn btn-primary" *ngIf="user.role=='manager'" (click)="finishOrder()">Завершить заказ</button>
    </div>
  </div>
</div>
