<div class="card mt-4">
    <h4 class="card-header">Администрирование</h4>
    <div class="card-body">
        <p>This page can be accessed <u>only by administrators</u>.</p>
        <div>
          <div class="container">
            <a routerLink="/admin/laundries" class="btn btn-secondary btn-lg active" role="button">Список прачечных</a>
          </div>
          <div class="container">
            <a routerLink="/register/laundry" class="btn btn-secondary btn-lg active" role="button">Зарегестрировать новую прачечную</a>
          </div>
          <div class="container">
            <a routerLink="/admin/services" class="btn btn-secondary btn-lg active" role="button">Управление сервисами</a>
          </div>
        </div>
    </div>
</div>
