$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #4527A0;
$primary-color:        #673AB7;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.mat-toolbar {
  @include zero-margin(0px, 0px);
  color:floralwhite;
  min-height: 0px;
  max-width: 1400px;
  width: 80%;
}

.head_div{
  background-color: $primary-color;
}
